<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit</title>
</head>
<body>
    <h1 style="text-align: center;">----------------------------------------------</h1>
    <h1 style="text-align: center;">This is jinja template practice</h1>
    <h1 style="text-align: center;">----------------------------------------------</h1>
    <h1 style="color: purple; text-align: center;">This is IF-ELSE condition statement check:</h1>
    <div style="display: flex; justify-content:center">
        {% if input>50 %}
        <h1>Your Input score is greater than 50</h1>
        {% else %}
        <h1>Input score is less than 50</h1>
        {% endif %}
    </div>
</body>
</html>